<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <title>IPL Dashboard</title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width" />
      <base href="/" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
         crossorigin="anonymous"></script>
   </head>
   <body>
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 20px">
            <div class="container-fluid">
               <a class="navbar-brand" href="/">IPL Dashboard</a>
            </div>
         </nav>
         <section class="content">
            <h1>Venues</h1>
            <div class="card-group">
                  <div class="card" style="flex: 0 0 31%; margin: 10px;"  th:each="venue: ${venues}">
                     <h5 class="card-title"><span th:text="${venue.name}">Name</span>, <span class="card-title" th:text="${venue.city}">Name</span></h5>
	                    <p class="card-text">Total Matches Played: <small class="text-muted" th:text="${venue.totalMatches}"></small></p>
	               		<p class="card-text">Total Matches Resulted Win or Loose: <small class="text-muted" th:text="${venue.totalWins}"></small></p>
	               		<p class="card-text" th:if="${venue.totalNoResult>0}">Total Matches No Results: <small class="text-muted" th:text="${venue.totalNoResult}"></small></p>
                        
                     <a href="#" target="_blank" th:href="@{'/venue/' + ${venue.name}}" class="btn btn-primary">View venue details</a>
                  </div>
               </div>
         </section>
      </div>
   </body>
</html>